:root {
    --primaryColor: #907e7e;
    --secondColor: #f7bcf7;
    --lightFarbe: #ffffff;
    --bgFarbe-1: #3a3b3c;
    --bgFarbe-2: #22282a;
    --bgFarbe-3: #24343d;
    --padding: 8%;
    --spacing-md: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--lightFarbe);

}

h1 {
    font-size: 4rem;
    font-weight: 500;
    margin: 1.7rem 0;
    width: 80%;
}

h2 {
    font-size: 2rem;
    color: var(--lightFarbe);
    letter-spacing: 0.12rem;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--secondColor);
    padding: var(--padding);
}


h4 {
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
    color: var(--zweiteFarbe);
}

h5 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}

.texts a {
    text-decoration: none;
    color: #fff;
}

p {
    color: var(--secondColor);
    letter-spacing: 1px;
    line-height: 1.6rem;
    font-size: 1rem;
}

/* NAVBAR */
nav {
    background-color: var(--bgFarbe-3);
    padding: 1rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff3b;
}

nav img {
    width: 6rem;
    height: auto;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}

nav ul li a {
    color: var(--lightFarbe);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
}

nav ul li a:hover {
    color: var(--primaryColor);
    border-bottom: 1px solid var(--primaryColor);
}

/* HOME SECTION */
.home {
    width: 100vw;
    height: 100vh;
    background: url(../images/tech4.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: #61707c;
    color: var(--lightFarbe);
    text-decoration: none;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 30px;
    border: 2px solid;
    transition: 0.4s;
}

.btn:hover {
    background-color: transparent;
    border: 2px solid var(--lightFarbe);
}

.content {
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.social {
    margin-top: 3.5rem;
    display: flex;
    align-items: center;
}

.social img {
    margin-right: 2rem;
    width: 2.5rem;
    transition: 0.4s;
}

.social img:hover {
    transform: scale(1.2);
}

/* COLUMNS */
.two-column {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
}

.two-column > .col-left {
    width: 50%;
    box-sizing: border-box;
    padding: 0 var(--spacing-md) 0 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.two-column > .col-right {
    width: 50%;
    box-sizing: border-box;
    padding: 0 0 0 var(--spacing-md);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

/* .home .container-fotos {
    width: 45%;
    height: 90%;
    position: relative;
    align-self: self-end;
}

.home .container-fotos img {
    position: absolute;
    bottom: 0;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.home .container-fotos:hover .shape {
    bottom: 40px;
}

.home .container-fotos:hover .mafoto {
    left: 45%;
}

.container-fotos {
    width: 100%;
    height: 15rem;
}

.container-fotos img {
    width: 100%;
    max-width: 600px;
    height: auto;
} */

.container p {
    margin-bottom: 1rem;
    line-height: 1.3rem;
}

.container ul {
    line-height: 1.3rem;
}

/* ABOUT SECTION */
.ueber {
    background-color: var(--bgFarbe-2);
    padding: var(--padding);
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.ueber img {
    width: 80%;
    height: auto;
}

#about {
    font-size: 4rem;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

#about span {
    color: var(--secondColor);
    transition: 0.5s;
    text-decoration: underline;
}

#about span:hover {
    color: #fff;
    text-decoration: none;
}

.ueber ul {
    margin-top: 1.5rem;
}
.ueber ul li {
    list-style-type: square;
    line-height: 1.6rem;
}

.ueber ul li a {
    color: #f7bcf7;
    transition: 0.5s;
}

.ueber ul li a:hover {
    color: #fff;
    text-decoration: none;
}

/* SOCIAL-ICONS UND POP-UP FENSTER */

.social-icons {
    display: flex;
    margin-top: 2rem;
    cursor: pointer;
}

.social-icons svg {
    transition: 0.2s ease;
    color: #fff;
}

.social-icons svg:hover {
    color: #4287e0;
}

.tooltip .popuptext {
    visibility: hidden;
    width: auto;
    background-color: #14141467;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 1.5rem;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .popuptext {
    visibility: visible;
}

.tooltip .popuptext p {
    color: #fff;
}

.tooltip .popuptext a {
    color: #09a8f1;
}

.tooltip .popuptext a:hover {
    color: red;
}

/* PROJEKTE SECTION */
.projekte {
    width: 100vw;
    padding: 1.5rem 0;
    background-color: var(--bgFarbe-1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    margin: 1.5rem 0;
}

.card {
    width: 400px;
    height: 550px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.card-top img {
    width: 100%;
}

.card-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.3rem 1.3rem 1.3rem;
}

.card-bottom svg {
    color: #2e2e2e;
    transition: all 0.3s ease;
}

.card-bottom svg:hover {
    color: #4287e0;
    transform: rotate(10deg);
}

.card-bottom h3 {
    color: #2e2e2e;
    font-family: 'Poppins', sans-serif;
}

.card-bottom p {
    width: 100%;
    color: #2e2e2e;
    font-family: sans-serif;
}

/* [data-tooltip] {
    position: relative;
    text-decoration: underline;
    cursor: default;
}

[data-tooltip]::after {
    position: absolute;
    width: 140px;
    left: calc(50% - 70px);
    bottom: 125%;
    box-sizing: border-box;
    text-align: center;
    content: attr(data-tooltip);
    color: #ffffff;
    background: #3a3b3c;
    padding: 8px;
    border-radius: 10px;
    font-size: 0.9em;
    font-weight: bold;
    visibility: hidden;
    opacity: 0;
    transform: translate(10px);
    transition: oacity 0.3s, transform 0.2s;
}

[data-tooltip]:hover::after {
    opacity: 1;
    visibility: visible;
    transform: translate(0);

} */

/* SKILLS-SECTION */
.skills {
    width: 100vw;
    padding: 2rem;
    background-color: var(--bgFarbe-2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skills h2 {
    margin-bottom: 2rem;
}

.tech-stack {
    display: flex;
    gap: 2rem;
}
